.footer {

    background-color: var(--secondary_background);
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-top: 0.5px solid #fb7676;

}