.habit_component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--body_badge);
    border-radius: 15px; 
    font-family: Arial, sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
  }

  .habit_component_completed {
    display: flex;
    align-items: center;
    background-color: var(--body_badge_task_completed);
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 15px; 
    font-family: Arial, sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .habit_component_completed .remove_habit_button {
    background-color: var(--remove_habit_button_completed);
  }

  .habit_component_completed
  svg
  {
      color: var(--remove_habit_button_completed_cross);
  }

  .habit_component_completed
  .habit_button_completed{
    background-color: var(--habit_button_completed);

  }

  .habit_component_completed
  .habit_status{
    color: var(--remove_habit_button_completed_cross);

  }

  .habit_component_completed .habit_title{
    color: var(--remove_habit_button_completed_cross);
  }

  .habit_component_completed .fa-solid {

    color: var(--remove_habit_button_completed_cross)

  }
  
  
  
.habit_title {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    color: var(--body_badge_text);
  }
  
.habit_box {
    display: flex;
  }



.habit_status {
    font-size: 14px;
    color: var(var(--body_badge_text)); 
    margin-right: 5px;
  }
  
.habit_button {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #666;
  }

  .habit_button_completed{

    background-color: #b1ffcf;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border:none;
  }

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}

.x{
    font-size: 15px;
    color: #d01212;
    margin-right: 10px;
}

.remove_habit_button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color:#FB7676;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button_delete {
display: flex;
justify-content: center;
align-items: center;

}

.modal-content-habit > p{

  font-size: 1rem;
  text-align: center;
  word-break: break-word;
  text-wrap: auto;
  margin-top: 25px;

}
