* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: var(--body_background);
  color: var(--body_color);
}

.containerr {
  width:85%;
  margin-inline: auto;
  margin-top: 25px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

.carousel-section {
  margin-bottom: 40px;
}

.carousel-section h2 {
  margin-bottom: 20px;
  padding-left: 10px;
}

.carousel {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 20px;
  white-space: nowrap;
  position: inherit;   
  

  scrollbar-width: none;
}

.carousel:hover {
  scrollbar-width: auto;
}

.carousel::-webkit-scrollbar {
  height: 10px;           
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel:hover::-webkit-scrollbar {
  opacity: 1;            
}


.carousel::-webkit-scrollbar-track {
  background: var(--body_badge);
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel:hover::-webkit-scrollbar-track {
  opacity: 1;
}

.carousel::-webkit-scrollbar-thumb {
  background: #fa9595;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel:hover::-webkit-scrollbar-thumb {
  opacity: 0.7;
}

.carousel-header{

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;

}

.card {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  width: 300px;  
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex-shrink: 0; 
}


.no-habits {
  margin-top: 20px;
  font-style: italic;
  color:var(--body_color);
}

.home {
  width: 100%;
    height: fit-content;
    overflow: hidden;
}

.habit {
  
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 20px;
  white-space: nowrap; 

    @media (max-width:800px){
      display: flex;      
      gap: 10px;
      flex-wrap: wrap;
      justify-content: flex-start;
      }
}

.search-bar{

  width: 150px;
    height: 45px;
    border: 1px solid #2c2c2c30;
    border-radius: 15px;
    padding-inline: 20px;
    padding-block: 5px;
    font-weight: bold;
    font-style: italic;
    color: #2c2c2c;
    margin:0;

}
