:root{
    --body_background : white;
    --body_color: #FB7676;
    --body_badge: white;
    --body_badge_text:#2c2c2c;
    --body_input_background:white;
    --body_sumbit_button:#FB7676;
    --body_sumbit_button_text:white;
    --body_sumbit_button_hover:rgb(44, 44, 44);
    --secondary_background:#FB7676;
    --burguer_menu_items: #2c2c2c;
    --body_badge_task: white;
    --burguer_icon: rgb(251, 118, 118);
    --burguer_bg:white;
    --burguer_icon:#fb7676;
    --remove_habit_button_completed:rgb(251 118 118 / 25%);
    --remove_habit_button_completed_cross:rgba(251, 181, 181, 25%);
    --habit_button_completed:rgba(177, 255, 207, 0.414);
    

}
[data-theme="dark"]{

    --body_background :#202124;
    --body_color: white;
    --body_badge: #111418;
    --body_badge_text: white;
    --body_input_background:#111418;
    --body_sumbit_button:white;
    --body_sumbit_button_text:#FB7676;
    --secondary_background:#111418;
    --burguer_menu_items: white;
    --body_badge_task: rgb(0 0 0 / 50%);
    --body_badge_task_completed: rgb(0 0 0 / 20%);
    --burguer_icon: white;
    --burguer_bg:none;
    --burguer_icon:white;
    --remove_habit_button_completed:rgb(251 118 118 / 15%);
    --remove_habit_button_completed_cross:rgba(255, 255, 255, 0.2);
    --habit_button_completed:rgba(177, 255, 207, 0.2);

}
/* * {

    transition: all 0.05s ease-in-out;
} */


.main-container {

    height: 100vh;
    background-color: var(--body_background);
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 90px 1fr 50px;
}


