#login-form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

input {

    width: 250px;
    height: 60px;
    border: 1px solid #fb7676;
    border-radius: 30px;
    padding-left: 30px;
    margin-inline: 15px;
    margin-block: 10px;
    font-weight: bold;
    font-style: italic;
    color: #fb7676;
}

input::placeholder{

    color: #fb7676;
    font-weight: bold;
    font-style: italic;
}

input:focus{
    outline: none;
}

.submit-button{

    width: 250px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #fb7676;
    color: white;
    margin: 15px;
    font-weight: bold ;
}

.submit-button:hover{

    background-color: #2c2c2c;
    color: white;
    cursor: pointer;
}



/*--------- Sign up ----------*/


#signup-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    

}


.signup-box{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.signup-title {

    word-wrap: break-word;
    text-align: center;
    padding-inline: 50px;

}

.password-box{

    align-self: center;

}

.visibility {
    position: absolute;
    transform: translate(-250%, 30px);
   
}

.css-1umw9bq-MuiSvgIcon-root {

    color: #fb7676;
}

.terms{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-inline: 15px;
    word-wrap: break-word;
}
.terms-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.signup-submit-button{

    width: 250px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #fb7676;
    color: white;
    margin: 15px;
    font-weight: bold ;
}

.signup-submit-button:hover{

    background-color: #2c2c2c;
    color: white;
    cursor: pointer;
}



@media (min-width: 1000px) {

    #signup-form {

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin-top: 50px;

    
    }

   
  }