.navbar {

    display: flex;
    top: 0;
    background-color: var(--body_badge);
    border-bottom: solid 0.3px #FB7676;
    padding: 25px;
    width: 100%;
    height: 92px;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    position: sticky;

}

.s-title {
    font-size: 1.2rem;
    font-weight: bold;
    color:var(--body_color);
    margin: auto;
    text-align: center;
}


.burger-content-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--body_background);
    z-index: 1000;
    justify-content: left;
    align-items: left;
    padding: 25px;

    -webkit-box-shadow: 10px 0px 59px -20px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 0px 59px -20px rgba(0,0,0,0.25);
    box-shadow: 10px 0px 59px -20px rgba(0,0,0,0.25);
}

.burger-button {
    border: none;
    background-color: var(--burguer_bg);
}

.burger-icon {
    color:var(--burguer_icon);
    font-size: 2rem;
}

.head-handlres-burguer{
    display: flex;
    justify-content: space-between;
}

.close-button {

    border: none;
    background-color: unset;
    color: var(--burguer_icon);

}
.burger-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5rem;
    padding-bottom: 50px;
    height: 100%;
    justify-content: space-between;

}

.burger-content > ul  {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    list-style: none;
}



.burger-content > ul > li {
    
    padding-bottom: 15px;
    display: flex;
    align-items:center;
}


.burger-content > ul > li > a {
    
    color: var(--body_badge_text);
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
}

.burger-content > ul > li > i {
    
    color: var(--burguer_icon);
    padding-right: 15px;
}

.logo{

    display: flex;
    align-items: center;

}

.logout-menu {
    display: flex;
    width: 90%;
    align-items: center;
    padding-left: 2.5rem;
    margin-bottom: 40px;
    
}

.logout-menu > a{
    text-decoration: none;
    color: #2c2c2c;
    padding-left: 10px;
}


.complete-menu {
    
    display: flex;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.complete-menu-title{

    font-size: 1.2rem;
    color: var(--body_color);
    font-weight: bold;
    padding-left: 15px;

}

.menu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;

}

.menu > a {
    color: var(--body_color);
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
}

.logout-button{

    width: auto;
    background-color: var(--body_sumbit_button);
    border-radius: 30px;
    padding-block: 10px;
    border: none;
    font-weight: bold;
    color: var(--body_sumbit_button_text);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding-inline: 20px;
}

.logout-button:hover{

    background-color: #2c2c2c;
    color: white;
    cursor: pointer;
}