.navbar {

    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 0.3px #FB7676;
    padding: 25px;
    width: 100%;
    height: 92px;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;

}

.s-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FB7676;
    margin: auto;
    text-align: center;
}


.burger-content-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    justify-content: left;
    align-items: left;
    padding: 25px;
}

.burger-button {
    border: none;
    background-color: white;
}

.burguer-button-icon {
    color: #FB7676;
    font-size: 2rem;
}

.close-button {

    border: none;
    background-color: white;
    padding-top: 10px;

}

.burger-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5rem;
    padding-bottom: 50px;
    height: 100%;
    justify-content: space-between;
}

.burger-content > ul  {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    list-style: none;
}



.burger-content > ul > li {
    
    padding-bottom: 15px;
}


.burger-content > ul > li > a {
    
    color: #2c2c2c;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
}

.burger-content > ul > li > i {
    
    color: #FB7676;
    padding-right: 15px;
}

.logout-menu {
    display: flex;
    width: 90%;
    align-items: center;
    padding-left: 2.5rem;
}

.logout-menu > a{
    text-decoration: none;
    color: #2c2c2c;
    padding-left: 10px;
}


.complete-menu {
    
    display: flex;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.complete-menu-title{

    font-size: 1.2rem;
    color:#FB7676;
    font-weight: bold;
    padding-left: 30px;

}

.menu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.menu > a {
    color: #FB7676;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
}

.logout-button{

    width: 100px;
    background-color: #FB7676;
    border-radius: 30px;
    padding: 10px;
    border: none;
    margin-left: 20px;
}

.logout-button > a {

    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}