Ranking CSS

.ranking-wrap{

    width: 100%;
    height: fit-content;
    overflow: hidden;

}


.ranking-img-header{

    justify-self: center;
    width: 150px;
    max-height: 50PX;
    margin-bottom: 120px;

}


.ranking-box {

    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    
}

.user_score_component:nth-child(1){

    background-color: rgb(255, 223, 41);
    border-radius:15px;
    -webkit-box-shadow: 0px 10px 30px -22px rgba(255, 223, 41,1);
    -moz-box-shadow: 0px 10px 30px -22px rgba(255, 223, 41,1);
    box-shadow: 0px 10px 30px -22px rgba(255, 223, 41,1);
    color: white;
   
}

.user_score_component:nth-child(-n+3)
.user_score_box{
    width: 180px;
    display: flex;
    align-items: center;
    margin-right: 25px;
    gap: 20px;
}

.user_score_component:nth-child(-n+3) .user_score_name{

    font-weight: bold;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.user_score_component:nth-child(-n+3) .user_score_space {

    margin: 0;
}

.user_score_component:nth-child(-n+3) .user_score_pill {

    width: 115px;
    height: 50px;
    background-color: white;
    padding-block: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    -webkit-box-shadow: 0px 10px 30px -22px rgb(102, 102, 102);
    -moz-box-shadow: 0px 10px 30px -22px rgb(102, 102, 102);
    box-shadow: 0px 10px 30px -22px rgb(102, 102, 102);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user_score_component:nth-child(-n+3) h5 {

   font-size: 25px;
   font-weight: bold;
   color: #2c2c2c;
}

.user_score_component:nth-child(-n+3) p {

    font-size: 8px;
    font-weight: bold;
    margin: 0;
    color: #2c2c2c;
 }


.user_score_component:nth-child(2){

    background-color: rgb(168, 168, 168);
    border-radius:15px;
    -webkit-box-shadow: 0px 10px 30px -22px rgba(168,168,168,1);
    -moz-box-shadow: 0px 10px 30px -22px rgba(168,168,168,1);
    box-shadow: 0px 10px 30px -22px rgba(168,168,168,1);
    color: white;
}

.user_score_component:nth-child(3){

    background-color: rgb(212, 134, 9);
    border-radius:15px;
    -webkit-box-shadow: 0px 10px 30px -22px rgba(153,153,153,1);
    -moz-box-shadow: 0px 10px 30px -22px rgba(153,153,153,1);
    box-shadow: 0px 10px 30px -22px rgba(153,153,153,1);
    color: white;
}



/* .ranking-items{

    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

} */

@media (min-width: 800px) {

    .ranking-box{

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .ranking-box-cont {

        height: 385px;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
    
    }

  }

@media (min-width: 1200px) {
    .ranking-box{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }   

    .ranking-items {
        grid-area: 1fr;
    }

  }
