.ranking-wrap{

    width: 100%;
    height: 100%;

}


.ranking-img-header{

    justify-self: center;
    width: 150px;
    max-height: 50PX;
    margin-bottom: 120px;

}


.ranking-box {

    width: 85%;
    margin: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}

.ranking-items{

    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

}

@media (min-width: 600px) {

    .ranking-box {

        width: 85%;
        margin: auto;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scrollbar-width: none;
        gap: 10px;
    
    }

  }

@media (min-width: 1000px) {

    .ranking-box {

        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        height: 100%;
        gap: 10px;
        height: fit-content;

    }

    .ranking-items {
        grid-area: 1fr;
    }

  }