.small_habit_component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto; 
    padding: 15px 20px;
    background-color: var(--body_badge);
    border-radius: 15px; 
    font-family: Arial, sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
.small_habit_title {
    font-size: 16px;
    font-weight: bold;
    color: var(--body_badge_text);
    margin-right: 10px;
  }
  
.small_habit_box {
    display: flex;
  }

.small_habit_status {
    font-size: 14px;
    color: #666; 
    margin-right: 5px;
  }
  
.small_habit_button {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    font-size: 15px;
  }