* {
    font-family: 'Roboto', sans-serif;
}


.profile-container {

    width: 70%;
    margin: auto;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.profile-options{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    cursor: pointer;
    margin-top: 50px;

}

.profile-elements {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;

}

.profile-items{

    width: 300px;
    padding: 15px 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    color: #2c2c2c;

}

.profile-items > svg {

    color: #2c2c2c;
    margin-right: 20px;

}

.signup-header > h5 {

    margin-bottom: 0px;
    margin-right: 3px;
    text-align: center;
    text-wrap-style: balance;

}


/* ---------- Modals -----------*/

.modalUser, 
.support {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
    padding-inline: 25px;
}

.modalUser .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 550px;
    height: 410px;
    position: relative;
    background-color: white;
    z-index: 1001;
    border-radius: 15px;
    padding: 5%;
    justify-content: center;
}

.support > .wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-self: center;
    width: 550px;
    height: 410px;
    position: relative;
    background-color: white;
    z-index: 1000;
    border-radius: 15px;
    padding: 5%;
    justify-content: center;
}

#delete-form {

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 30px;

}


.close {

    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    color: #FB7676;
    cursor: pointer;
    z-index: 1002;

}


  @media (max-width: 700px) {

    .profile-img{
        display: none;
    }

    .profile-options{

        width: 90%;

    }


    .profile-items{

        width: 100%;

    }
    
    .modalUser > .wrapper {

        width: 90%;
    }
  }