.user_score_component {
    display: flex;
    align-items: center;
    height: 65px;
    font-family: Arial, sans-serif;
    color: #d57373;
    padding: 10px;
    justify-content: space-between;
  }

.user_score_box{

  width: 180px;
  display: flex;
  align-items: center;
  margin-right: 25px;
  gap: 20px;

}


.user_score_circle_male {
    width: 55px; 
    height: 55px;
    border-radius: 50%;
    background-image: url("https://cdn-icons-png.flaticon.com/512/236/236831.png");
    background-size:cover;
    background-repeat: no-repeat;
  }

.user_score_circle_female {
  width: 55px; 
  height: 55px;
  border-radius: 50%;
  background-image: url("https://cdn-icons-png.flaticon.com/128/6833/6833595.png");
  background-size: cover;
}
  
.user_score_text {
    margin-left: 10px;
  }
  
.user_score_name {
    font-size: 16px;
    font-weight: bold;
  }
  
.user_score_city {
    font-size: 14px;
  }

  .user_score_gender {
    font-size: 14px; 
}
.user_score_space {
    margin-left: 20px;
  }

.user_score_pill {
  width: 115px;
    height: 50px;
    background-color: white;
    border: 1px solid #fb767660;
    padding-block: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid #fb7676; */
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p{
    margin: auto;
    font-size: 10px;
}

h5 {
    margin-bottom:0px;
    margin-right: 3px;
}


.current_user{
  border:1px solid #fb7676;
}