.user_component {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #d57373; 
    margin: 15px;
  }
  
.user_circle {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
  }
  
.user_text {
    margin-left: 10px; 
  }
  
.user_name {
    font-size: 16px; 
    font-weight: bold;
  }
  
.user_city {
    font-size: 14px; 
  }