

.welcome-cont {

    display: flex;
    padding: 30px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    bottom: 100px;
    z-index: -1000;
    justify-content: center;
}

.welcome-body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    font-size: 2rem;
    color: #FB7676;
    font-weight: bold;
}

.Login, .sign-up, .google {

    width: 145px;
    height: 60px;
    border: solid 1px #FB7676;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;
    color: #FB7676;
    margin: 15px;

}

.accesos {

    display: flex;
    flex-direction: row;
    align-items: center;


}

.accesos .divider {
    
    width: 1px;
    height: 60px;
    background-color: #FB7676;
    margin: 15px;
}

.login {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.acceso-google {

    margin-top: 20px;
}

/* ---------- Modals -----------*/

.modal-login, .modal-signup {
    
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
    padding-inline: 25px;
}

.modal-login > .wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 90%;
    height: 700px;
    position: relative;
    background-color: white;
    z-index: 1001;
    border-radius: 15px;
}


.modal-signup > .wrapper {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 90%;
    height: 700px;
    position: relative;
    background-color: white;
    z-index: 1001;
    border-radius: 15px;
}


.close {

    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    color: #FB7676;
    cursor: pointer;
    z-index: 1002;

}


@media (min-width: 1000px) {

    .modal-signup > .wrapper {

        width: 850px;

    }

    .modal-login > .wrapper {

        width: 65%;

    }

  }

  @media (min-width: 600px) {


    .modal-login > .wrapper {

        max-width: 500px;

    }

    

  }