

.container {

    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    color: #FB7676;
    font-weight: bold;
}

.Login, .sign-up, .google {

    width: 145px;
    height: 60px;
    border: solid 1px #FB7676;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;
    color: #FB7676;
    margin: 15px;

}

.accesos {

    display: flex;
    flex-direction: row;
    align-items: center;


}

.accesos .divider {
    
    width: 1px;
    height: 60px;
    background-color: #FB7676;
    margin: 15px;
}

.login {

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.acceso-google {

    margin-top: 20px;
}